<a href="https://colab.research.google.com/github/italosilva02/exercicioPy/blob/main/orientacao_a_objeto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
class triangulo:
  def __init__(self, lado1, lado2, lado3, base, altura):
    self.lado1 = lado1
    self.lado2 = lado2
    self.lado3 = lado3

In [8]:
t1 = triangulo(2, 1, 3, 4, 3)

In [9]:
print(t1.lado1, t1.lado2, t1.lado3)

2 1 3

In [10]:
t2 = triangulo(2,4,3,8,5)

In [ ]:
print(t2.lado1, t2.lado2, t3.lado3)